@model IEnumerable<TravPense.Models.hotel>

@{
    ViewData["Title"] = "UserView";
}

<h2>UserView</h2>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.HotelName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Standard)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PricePerDay)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HotelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Standard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerDay)
            </td>
           
        </tr>
}
    </tbody>
</table>
